.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: hsl(185, 41%, 84%);
  position: relative;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.attribution { 
  font-size: 14px; 
  text-align: center; 
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  position: absolute;
  bottom: 110px;
}

.attribution a { 
  color: hsl(228, 45%, 44%);
  font-size: 14px;
 }

@media(max-width: 600px){
  .app {
    height: 750px;
  }
  .attribution { 
    font-size: 8px; margin-top: 65px; bottom: 30px;
  }
  .attribution a {
    font-size: 8px;
  }
}